@viewport {
    width: device-width;
    initial-scale: 1;
}
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    /*background-color: #3CC47C;*/
    background-color: #bff5bd;
    color: #333;
}

ul {
    list-style-type: none; 
}

.name {
    font-family: 'Allura', cursive; /* Aplicar la fuente Allura */
    color: #ebd90d;
    font-size: 2.2em; /* Tamaño de la fuente */
    text-transform: none; /* Evitar transformación de mayúsculas a minúsculas */
}

.services {
    display: block; /* Hace que los servicios ocupen toda la línea */
}

header {
    background-color: #bff5bd; 
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 100vh; /* Establece la altura del encabezado al 90% de la altura de la ventana del navegador */
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

header img {
    max-width: 80%; 
    max-height: 400px; 
    height: auto; 
    margin: 20px 40px;
}

.novedades {
    max-height: 420px;     
    border-radius: 50px;
    margin-left: 40px;
    top: -60px; /* Ajusta la posición vertical según sea necesario */
}

#novedades-abril {
    max-height: 380px;     
    border-radius: 50px;
    margin-left: 40px;
    top: -60px; /* Ajusta la posición vertical según sea necesario */
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav ul li a {
    color: rgb(62, 93, 35);
    text-decoration: none;
    font-weight: bold;
}

.exper-menu {
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    margin-right: 280px;
}

.oculto {
    display: none;
}

#hero {
    background-color: #dcda89;
    color: rgb(103, 7, 7);
    padding: 80px 0;
    text-align: center;
    height: 90vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#terapias {
    background-color: #dcda89;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1px; /* Ajusta el espacio superior con padding */
}

/* Estilos para el contenedor del reproductor de video Biodecodificacion*/
#reproductor-video {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Hace que la sección ocupe el 100% del alto de la ventana */
    text-align: right;
}

/* Estilos para el contenedor del reproductor de video Registros Akashicos*/
#reproductor-ra {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Hace que la sección ocupe el 100% del alto de la ventana */
    text-align: right;
}

.container-video {
    flex: 3; /* El contenedor del video ocupará 3/4 del espacio vertical */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.container-ra {
    flex: 3; /* El contenedor del video ocupará 3/4 del espacio vertical */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

#video {
    width: 50%; 
    padding-top: 5.25%; 
}

#logo-img {
    width: 15%; 
    height: auto; 
    margin-right: 80px; 
    margin-top: -280px;
    margin-left: -180px;
}

#logo-img-ra {
    width: 15%; 
    height: auto; 
    margin-right: 80px; 
    margin-top: -280px;
    margin-left: -180px;
}

.btn_volver_biodecodificacion {
    margin-top: 480px;
    margin-right: -130px
}

.btn_volver_ra {
    margin-top: 480px;
    margin-right: -130px
}


.contenedor-derecha {
    float: right; 
    margin-left: 20px; 
    width: 300px; 
    height: auto; 
    overflow: hidden; 
    position: relative; 
}

.contenedor-derecha img {
    max-width: 100%; 
    height: auto; 
    display: block; 
}

.play-icon {
    position: absolute; /* Posiciona el icono de "play" absolutamente dentro del contenedor */
    top: 50%; /* Lo coloca en la mitad vertical del contenedor */
    left: 20%; /* Lo coloca en la mitad horizontal del contenedor */
    transform: translate(-50%, -50%) scale(0.3); /* Centra el icono de "play" en relación con el contenedor */
}

.contenedor-derecha-RA {
    float: right; 
    margin-left: 20px; 
    width: 400px; 
    height: auto; 
    overflow: hidden; 
    position: relative; 
}

.contenedor-derecha-RA img {
    max-width: 100%; 
    height: auto; 
    display: block; 
}
.play-icon-RA {
    position: absolute; /* Posiciona el icono de "play" absolutamente dentro del contenedor */
    top: 80%; /* Lo coloca en la mitad vertical del contenedor */
    left: 50%; /* Lo coloca en la mitad horizontal del contenedor */
    transform: translate(-50%, -50%) scale(0.3); /* Centra el icono de "play" en relación con el contenedor */
}

.container-1 {
    max-width: 1200px; 
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.image-container {
    margin-right: 20px; 
}

.image-container img {
    max-width: 100%;
    height: auto; 
}

.text-container {
    text-align: left; 
}

.text-container h3 {
    margin-top: 0; 
}

.text-container .title {
    margin-bottom: 100px; 
    margin-top: 60px; 
}
.text-container .title h3 {
    font-size: 20px; 
}

h1 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(62, 93, 35);
    text-align: center;
}

#hero h1 {
    color: rgb(103, 7, 7);
}

.container-2 {
    max-width: 900px; 
    margin: 0 auto;
    padding: 20px;
}

.experiencia-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.experiencia-lista {
    list-style-type: none;
    padding: 0;
}

.experiencia-lista li {
    margin-bottom: 10px;
    line-height: 1.6;
    text-align: left;
}

.content {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; 
}

.image-container {
    flex: 1; /* La imagen ocupará una fracción del espacio disponible */
    max-width: 50%; /* Establece el ancho máximo de la imagen */
    margin-left: 40px;
}

.image-container img {
    max-width: 100%; /* La imagen no será más ancha que su contenedor */
    height: auto; /* La altura se ajustará automáticamente */
}

.text-container {
    flex: 1; 
    padding: 0 20px; 
}

.zoomable {
    width: 300px; /*ajusta el ancho de la imagen según tu diseño */
    cursor: zoom-in;
}

.lupa {
    position: absolute;
    width: 100px; /* ajusta el tamaño de la lupa según tu diseño */
    height: 100px; /* ajusta el tamaño de la lupa según tu diseño */
    background-image: url('Imagenes/Lupa.png'); 
    background-size: cover;
    display: none;
}

/* Estilos de las otras secciones */
section {
    padding: 60px 0;
    text-align: center;
}

section h2 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
}

.btn {
    display: inline-block;
    background-color: #8fd9ea;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 700;
}

.btn:hover {
    background-color: #39bdcc; 
    color: #fff;
}

.btn-container {
    text-align: right; /* Alinea los botones a la derecha */
    margin-top: 20px; /* Espacio superior para separarlo del contenido */
}

.btn_terapias {
    display: inline-block;
    background-color: #8fd9ea;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 700;
}

.btn_terapias:hover {
    background-color: #39bdcc; 
    color: #fff;
}

.btn_terapias-container {
    text-align: right; 
    margin-top: 20px; 
}

.btn_qs {
    display: inline-block;
    background-color: #8fd9ea;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 700;
    margin-top: 40px;
}

.btn_qs:hover {
    background-color: #39bdcc; 
    color: #fff;
}

.btn_qs-container {
    text-align: right; 
    margin-top: 20px; 
}

.btn_talleres {
    display: inline-block;
    background-color: #8fd9ea;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 700;
    border: none;
    font-size: 20px;
}

.btn_talleres:hover {
    background-color: #39bdcc;
    color: #fff;
}

.btn_volver_biodecodificacion {
    display: inline-block;
    background-color: #8fd9ea;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 700;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.btn_volver_biodecodificacion:hover {
    background-color: #39bdcc;
    color: #fff;
}

.btn_volver_ra {
    display: inline-block;
    background-color: #8fd9ea;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 700;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.btn_volver_ra:hover {
    background-color: #39bdcc;
    color: #fff;
}

.btn_talleres-container {
    text-align: right; 
    margin-top: 20px; 
}

.mas-info {
    color: blue;
    text-decoration: underline;
    cursor: pointer; /* Esto hace que el cursor cambie a una mano al pasar sobre el enlace, indicando que es clickeable */
}


form {
    margin-top: 30px;
    text-align: left;
    max-width: 800px; 
    margin-left: auto; /* Centra el formulario en el medio */
    margin-right: auto;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: calc(100% - 24px); /* Calcula el ancho del campo restando el espacio del padding */
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form textarea {
    height: 150px;
}

form button[type="submit"] {
    background-color: #8fd9ea; 
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    font-weight: 700;
}

form button[type="submit"]:hover {
    background-color: #39bdcc; 
    color: #fff;
}

.redes-sociales a img {
    width: 35px; 
    height: auto; 
    margin-right: 15px; 
}

#quiensoy {
    text-align: center;
    padding-top: 50px; 
}

.quiensoy-grid {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Divide el espacio en dos columnas, la primera ocupando 1 fracción y la segunda 2 fracciones */
    grid-gap: 20px; /* Ajusta el espacio entre las columnas según sea necesario */
    align-items: center; /* Centra verticalmente los elementos */
    margin-right: 20px; 
}

.quiensoy-image img {
    max-width: 80%; /* Ajusta el tamaño de la imagen al 80% del contenedor */
    height: auto;
    display: block; 
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.quiensoy-text {
    text-align: center;
    margin-right: 20px; 
}

.quiensoy-text h2 {
    margin-bottom: 20px; /* Ajusta el espacio inferior del título según sea necesario */
}

/* Agrega estilos para el menú desplegable */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9fea9c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.menu-container {
    background-color: #f8f8f8; 
    border-radius: 10px;
}

.terapias-section {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Dividir el espacio en tres columnas, la primera ocupando 1 fracción y las dos siguientes 2 fracciones */
    grid-gap: 20px; /* Ajustar el espacio entre las columnas según sea necesario */
    align-items: center; /* Centrar verticalmente los elementos */
    margin-right: 20px; 
    
}

.terapias-lista {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-left: -150px;
}

.terapias-lista li {
    width: calc(53.33% - 20px); /* Ancho dinámico para cada elemento */
    margin: 25px auto; /* Espacio entre los elementos */
    position: relative; /* Establecemos posición relativa para los elementos li */
}


.terapias-lista li a {
    display: block;
    padding: 10px;
    border: 2px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    background-color: white;
    text-align: center;
}

.terapias-lista li a:hover {
    background-color: #f0f0f0;
}

.terapias-lista li .terapia-info {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 20px);
    width: 200px;
}

.terapias-lista li:hover .terapia-info {
    display: block;
}

.terapia-image img {
    max-width: 80%; 
    height: auto;
    /*display: block; */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Estilo para que la imagen ocupe toda la pantalla */
#talleres {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    width: 100%;
    overflow: hidden;
    position: relative;
}

#talleres .portada-talleres {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
    cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
    transition: transform 0.3s ease; /* Agrega un efecto suave al hacer hover */
    content: url('Imagenes/TalleresPortada.png');
}


#novedades_talleres {
    background-color: #d0e7f9; 
    padding: 20px;
    display: none; 
}

#novedades_talleres .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#novedades_talleres h2 {
    font-size: 30px;
    text-align: center;
}
#novedades_talleres .imagen {
    width: 40%; 
    padding-right: 10px; 
}

#novedades_talleres .imagen img {
    max-width: 100%;
    width: 150px;
    height: auto; 
}



#novedades_mes {
    background-color: rgb(197, 133, 124); 
    padding: 20px;
    display: none; 
}

#novedades_mes_2 {
    background-color: rgb(197, 133, 124); 
    padding: 20px;
    display: none; 
}

#novedades_mes .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#novedades_mes h2 {
    font-size: 30px;
    text-align: center;
}

.nuevos_talleres {
    background-color: #f5f5f5; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.nuevos_talleres:nth-child(odd) {
    background-color: #e0e0e0; 
}

.nuevos_talleres h3 {
    margin-top: 0;
    color:rgb(24, 83, 245); 
}

.nuevos_talleres p {
    margin-bottom: 10px;
}



.testimonial-container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.testimonial {
    margin-bottom: 20px;
}

.testimonial p {
    margin-bottom: 10px;
    font-style: italic;
    color: #333; 
}

/* Estilos básicos del carrusel de testimonios */
.testimonial-slider {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.testimonial-slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

.testimonial-img {
    width: 100%;
    height: auto;
}

.testimonial-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.testimonial-prev-btn, .testimonial-next-btn {
    background-color: #ddd;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.testimonial-prev-btn:hover, .testimonial-next-btn:hover {
    background-color: #bbb;
}



#biodecodificacion,
#registros_akashicos,
#sanacion_energetica,
#acompanamiento_espiritual {
    background-color: #d0e7f9; 
    padding: 20px;
    display: none; /* Ocultar las secciones inicialmente */
}

.texto-biodescodificacion {
    margin-bottom: 20px;
}

.texto-biodescodificacion p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.texto-biodescodificacion h3 {
    font-size: 20px;
    color: black; 
    margin-bottom: 10px;
}

.texto-biodescodificacion strong {
    font-weight: bold;
    color: rgb(24, 83, 245); 
}

.texto-registros strong {
    font-weight: bold;
    color: rgb(24, 83, 245); 
}

.talleres-info strong {
    font-weight: bold;
    color: rgb(24, 83, 245); 
}

.texto-sanacion h3 {
    font-weight: bold;
    color: rgb(24, 83, 245); 
}

.conclusion {
    background-color: #cd3ff0; 
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom: 20px; 
}

.conclusion p {
    font-size: 18px; 
    font-weight: bold; 
}

.menu-toggle {
    display: none; 
}

/* Inicio Slider */

.contenedor-total {
    display: flex;
}

.primera-mitad, .segunda-mitad {
    width: 50%; /* Divide la pantalla en dos partes */
}

.segunda-mitad {
    position: relative; 
}

.contenedor-slider {
    display: flex;
    justify-content: center; 
}

.botones-container {
    position: absolute; 
    top: 75%; /* Coloca los botones en el centro verticalmente */
    transform: translateY(-50%); /* Centra los botones verticalmente */
    width: 100%; /* Asegura que los botones ocupen todo el ancho de la segunda mitad */
    display: flex; /* Para alinear los botones a los extremos */
    justify-content: space-between; /* Para distribuir los botones a los extremos */
}

.prev-btn, .next-btn {
    width: 50px; /* Ancho fijo para los botones */
}

.prev-btn {
    margin-left: 50px; 
}

.next-btn {
    margin-right: 50px; 
}

.contenedor-slider > div {
    display: flex; 
    align-items: center; 
}

.slide {
    display: none;
}

.slide:first-child {
    display: block;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  background-color: rgba(187, 184, 162, 0.845);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.dots-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}

.close-icon {
    display: none; 
}

/* Estilos para la galería de imágenes */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px; 
    margin-bottom: 20px;
}

.image-item-small img {
    max-width: 350px; 
    height: auto; /* Altura ajustable para mantener la proporción original */
    display: block; 
    margin-bottom: 10px; 
    border-radius: 8px; 
    margin-right: 30px; 
}


.image-item-large img {
    max-width: 250px; 
    height: auto; 
    display: block; 
    margin-bottom: 10px; 
    border-radius: 8px; 
}

.image-novedades-mes img {
    max-width: 400px; 
    height: auto; 
    display: block; 
    margin-bottom: 10px; 
    border-radius: 8px; 
}

/* Incio media queries */

@media screen and (max-width: 1023px) {
    header {
        height: 90vh; /* Reducir la altura del encabezado */
    }
}

@media screen and (max-width: 916px) {
    .h1-container {
        background-color: #d3f3d2; 
        border-radius: 5px;
    }
    .h1-container h1 {
        font-size: 15px;
    }
}

@media (max-width: 768px) {

    header {
        height: auto; /* Ajustar la altura del encabezado según sea necesario */
      }

    .btn {
        position: static; /* Cambia la posición a estática en pantallas pequeñas */
        margin-right: 20px; 
        margin-top: 20px;
        transform: none; /* Elimina la transformación de centrado vertical */
    }
      
    .quiensoy-grid {
        grid-template-columns: 1fr; /* Cambia a una sola columna */
    }

    #hero {
      height: auto; 
      padding-bottom: 20px; /* Agregar espacio en la parte inferior para evitar que el contenido se desborde */
    }
  
    .container-1 {
      padding: 20px; /* Agregar relleno a la sección para evitar que el contenido se desborde */
    }

    .content {
      flex-direction: column; 
      justify-content: center; 
      align-items: center; 
    }
  
    .image-container {
      max-width: 100%; 
    }
  
    .text-container {
      max-width: 100%; 
      text-align: center; 
    }
  
    .text-container .title {
      margin-bottom: 10px; /* Reducir el margen inferior de los títulos */
      font-size: 18px; 
    }
  
    .texto-biodescodificacion {
        margin-top: 240px;
    }

    #terapias {
      padding-bottom: 20px; 
    }
  
    .terapias-lista {
      max-width: 100%; 
      margin: 0 auto; /* Centrar la lista horizontalmente */
      padding: 0 20px; /* Agregar relleno a los lados para evitar desbordamientos */
      margin-left: 25px; 
      text-align: center;
    }
  
    .terapias-lista li {
      width: 100%; 
      margin: 0; 
      padding: 20px 0;
    }
  
    .terapias-lista li a {
      padding: 10px;
    }
  
    .terapias-lista li .terapia-info {
      position: static; /* Cambiar a posición estática para evitar superposiciones */
      transform: none; /* Eliminar la transformación */
      width: auto; /* Establecer ancho automático */
      margin-top: 10px; 
      left: auto; /* Resetear la posición izquierda */
    }
  
    #quiensoy {
        padding-top: 20px; 
    }

    .quiensoy-text p {
        font-size: 14px; 
        margin: 0 20px; 
    }
    .exper-menu-container {
        display: flex; 
        justify-content: flex-start; 
        max-width: 320px; 
    }
    
    .exper-menu ul li {
        display: inline-block; 
        margin: 0 10px; 
        padding: 5px 10px; 
        width: 100px; 
    }
    
    h1 {
            font-size: 18px; 
    }
        
    .menu-toggle-container {
        display: inline-block; 
    }
    
    .menu-toggle {
        display: table;
        cursor: pointer;
        padding: 1px;
        border: 1px solid rgb(62, 93, 35);
        border-radius: 5px;
        color: rgb(62, 93, 35);
        background-color: #d3f3d2
    }

    .menu-toggle p {
        font-size: 8px;
    }
    
    .menu-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #333;
        margin-bottom: 5px;
    }
    
    .menu-container {
        display: none;
    }
    
    .menu-toggle.active ~ .menu-container {
        display: block;
    }
    
    .menu-container {
        display: none;
        position: absolute;
        top: 60px;
        margin-left: 60px; 
        width: 150px; /* Ajustamos el ancho del contenedor */
        background-color: white; 
        border: 1px solid white;
        border-radius: 5px;
    }
    
    .menu-container ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .menu-container li {
        padding: 10px;
        border-bottom: 1px solid #ccc; 
        display: block; /* Mostrar elementos del menú en una sola columna */
    }
    
    .menu-container li:last-child {
        border-bottom: none; /* Eliminar el borde inferior del último elemento */
    }

    .close-btn-container button {
        margin-top: 10px; /* Agregar margen superior al botón */
    }
          
    .close-icon {
        position: absolute;
        top: 5px; /* Ajusta la posición según sea necesario */
        right: 5px; /* Ajusta la posición según sea necesario */
        padding: 1px;
        cursor: pointer;
        color: black;
    }

    .close-btn-container {
        display: inline-block;
        border-radius: 5px;
        padding: 5px 10px;
        background-color: #ffffff; 
        border: 1px solid #ccc; 
    }
    
    #close-menu-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 14px; 
    }

    .close-icon {
        display: block; /* Mostrar el contenedor del botón "Cerrar" en pantallas pequeñas */
    }
    
    #reproductor-video {
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        height: 100vh; /* Utilizar toda la altura de la pantalla */
    }

    #reproductor-ra {
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        height: 100vh; /* Utilizar toda la altura de la pantalla */
    }

    .container-video {
        flex: 3;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-evenly;
        
    }    

    .container-ra {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-evenly;
        
    }    

    .contenedor-derecha-RA {
        float: right; 
        margin-left: 20px; 
        width: 300px; 
        height: auto; 
        overflow: hidden; 
        position: relative; 
    }

    #logo-img {
        width: 80px; 
        margin: 1px auto; /* Centrar y dar espacio */
    }

    #logo-img-ra {
        width: 80px; 
        margin: 1px auto;
    }

    #player {
        width: 100%; /* Video ocupa toda la anchura disponible */
        padding-top: 16.25%; /* Proporción 16:9 para el contenedor */
        
    }

    #playerRA {
        width: 100%; 
        padding-top: 16.25%;
    }

    .btn_volver_biodecodificacion {
        margin-top: 20px; 
        margin-right: 20px; 
        align-items: end; 
    }

    .btn_volver_ra {
        margin-top: 20px; 
        margin-right: 20px; 
        align-items: end; 
    }

    #novedades-abril {
        max-height: 300px;     
        border-radius: 50px;
        margin-left: 5px;
        top: -60px; /* Ajusta la posición vertical según sea necesario */
    }

    .contenedor-total {
        flex-direction: column; /* Apila los elementos uno encima del otro */
    }

    .primera-mitad, .segunda-mitad {
        width: 100%; 
    }

    .botones-container {
        display: none; 
    }

    .dots-container {
        display: none; 
    }

    .terapias-section {
        grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas pequeñas */
        justify-content: center; 
    }

    .terapia-image {
        margin-bottom: 20px;
        margin-left: 25px;
    }

    .terapia-image img {
        width: 60%; 
        margin-top: 15px;
    }

    #talleres {
        max-height: 500px; /* Limita la altura del contenedor */
        overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
    }

    #talleres .portada-talleres {
        width: 100%; /* La imagen se ajusta al ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
        content: url('Imagenes/TalleresPortadaCelus.png');
    }
    
}